button
  border: 1px solid black
  border-radius: 10px
  padding: 10px 35px 10px 35px
  font-size: 16px
  cursor: pointer
  font-family: 'Inter'
  &.primary
    background-color: #7763C5
    color: white
    font-weight: bold
    border: none
  &:disabled
    background-color: #888
    cursor: not-allowed

