<div class="form-item">
  <label [for]="inputName()">{{ label() }}</label>
  <input
    [type]="type()"
    [name]="inputName()"
    [placeholder]="placeHolder()"
    [formControl]="control()"
  />
</div>
