.container
  max-width: 1320px
  margin: auto
  padding: 50px
  .grid
    display: grid
    grid-template-columns: 1fr 1fr
    gap: 20px
    .theme
      padding: 20px
      background-color: #F5F5F5
      border-radius: 8px
      h3
        margin: 0
        padding: 0
      .description
        margin-top: 15px
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
      .subscribe
        display: flex
        justify-content: center
        margin-top: 15px


// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
  .container
    padding: 10px
    .grid
      column-gap: 20px

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
  .container
    .grid
      grid-template-columns: 1fr
