<div class="container">
  <div class="grid">
    @for (theme of themes$ | async ; track $index) {
    <div class="theme" [routerLink]="['/theme', theme.id]">
      <h3>{{ theme.title }}</h3>
      <div class="description">Description: {{ theme.description }}</div>
      <div class="subscribe">
        <app-button (clicked)="subscribe(theme.id)">S'abonner</app-button>
      </div>
    </div>
    }
  </div>
</div>
