<div class="container">
  <h2>Inscription</h2>
  <form action="">
    <div class="form-item">
      <app-input
        [control]="form.controls.username"
        [inputName]="'username'"
        [label]="'Nom d\'utilisateur'"
      ></app-input>
      <div
        *ngIf="form.controls.username.errors && form.controls.username.touched"
        class="color-red"
      >
        Le nom d'utilisateur est requis
      </div>
    </div>
    <div class="form-item">
      <app-input
        [control]="form.controls.email"
        [inputName]="'email'"
        [label]="'Adresse e-mail'"
      ></app-input>
      <div
        *ngIf="form.controls.email.errors?.['required'] && form.controls.email.touched"
        class="color-red"
      >
        L'email est requis
      </div>
      <div
        *ngIf="form.controls.email.errors?.['email'] && form.controls.email.touched"
        class="color-red"
      >
        L'email n'est pas au bon format
      </div>
    </div>
    <div class="form-item">
      <app-input
        [control]="form.controls.password"
        [type]="'password'"
        [inputName]="'password'"
        [label]="'Mot de passe'"
      ></app-input>
      <div
        *ngIf="form.controls.password.errors?.['required'] && form.controls.password.touched"
        class="color-red"
      >
        Le mot de passe est requis
      </div>
      <div
        *ngIf="form.controls.password.errors?.['pattern'] && form.controls.password.touched"
        class="color-red"
      >
        Le mot de passe doit faire 8 caractères, contenir une majuscule, une
        minuscule, un chiffre et un caractère spécial
      </div>
    </div>
    <app-button [disabled]="!form.valid" (clicked)="submit()"
      >S'inscrire</app-button
    >
    <div class="color-red" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
