<div class="article-details">
  <div class="back-arrow" (click)="back()">
    <img src="assets/svg/arrow_back.svg" alt="back arrow" />
  </div>

  <div class="container">
    <div class="article" *ngIf="article">
      <h2>{{ article.title }}</h2>
      <div class="article-metadata">
        <div class="date">
          {{ article.creationDate | date : "dd/MM/yyyy HH:mm" }}
        </div>
        <div class="author">{{ article.Author }}</div>
        <div class="theme">{{ article.theme }}</div>
      </div>
      <div class="content">Content: {{ article.content }}</div>

      <hr />

      <div class="comments">
        <h4>Commentaires</h4>

        @for (comment of article.comments; track $index) {
        <div class="comment">
          <div class="author">{{ comment.entityUsers.username }}</div>
          <div class="content">{{ comment.comment }}</div>
        </div>
        }
      </div>

      <form>
        <app-text-area
          [control]="commentControl"
          [inputName]="'comment'"
          [placeHolder]="'Écrivez ici votre commentaire'"
        ></app-text-area>
        <button
          class="send"
          type="button"
          (click)="sendComment(article.id)"
          [disabled]="!commentControl.valid"
        >
          <img src="assets/svg/icon_send.svg" alt="send icon" />
        </button>
      </form>
    </div>
  </div>
</div>
