.article-details
  position: relative
  
.back-arrow
  position: absolute
  top: 0px
  left: 25px


.container
  max-width: 1320px
  margin: 50px auto
  padding: 0 100px

  .article
    h2
      margin: 0
    .article-metadata
      display: flex
      align-items: center
      column-gap: 50px
      row-gap: 10px
      margin: 25px 0
      flex-wrap: wrap
    .comments
      h4
        font-weight: normal
      .comment
        display: flex
        position: relative
        margin-bottom: 20px
        .author
          flex: 1
        .content
          flex: 3
          background-color: #eee
          padding: 20px
          border-radius: 16px
    form
      position: relative
      app-text-area
        width: 80%
        margin: auto
        display: block
      .send
        position: absolute
        top: calc(50% - 25px)
        right: 0
        z-index: 90
        cursor: pointer
        &:disabled
          cursor: not-allowed
          img
            filter: invert(60%) sepia(0%) saturate(2%) hue-rotate(8deg) brightness(90%) contrast(89%)




// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
  .container
    padding: 0 8px
    .article
      h2
        margin-left: 85px


// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
  .container
    margin: 10px auto 0 auto
    .article
      .comment
        flex-direction: column-reverse
        gap: 10px
        .author
          flex: 1
          align-self: end
        .content
          flex: 3
          background-color: #eee
          padding: 20px
          border-radius: 16px
      form
        app-text-area
          width: 100%
          margin: auto
          display: block
          ::ng-deep textarea
            padding-right: 75px
        .send
          position: absolute
          top: calc(50% - 25px)
          right: 20px