.container
  max-width: 1320px
  margin: 50px auto
  padding: 0 100px
  text-align: center
  h2
    margin: 0
    padding: 0
  form
    max-width: 300px
    margin: 20px auto
    display: flex
    flex-direction: column
    align-items: center
    gap: 25px
  
  a
    color: #A40F0F
    font-weight: bold

  .grid
    margin-top: 20px
    display: grid
    grid-template-columns: 1fr 1fr
    text-align: left
    gap: 20px
    .theme
      padding: 20px
      background-color: #F5F5F5
      border-radius: 8px
      display: flex
      flex-direction: column
      gap: 20px
      h3
        margin: 0
        padding: 0
      .description
        display: -webkit-box
        -webkit-line-clamp: 3
        -webkit-box-orient: vertical
        overflow: hidden
      .unsubscribe
        display: flex
        justify-content: center


// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
  .container
    padding: 10px
    .grid
      column-gap: 20px

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
  .container
    .grid
      grid-template-columns: 1fr