<div class="container">
  <h2>Profil utilisateur</h2>

  <form>
    <app-input
      [inputName]="'username'"
      [control]="form.controls.username"
      [placeHolder]="'Username'"
    ></app-input>
    <app-input
      [inputName]="'email'"
      [control]="form.controls.email"
      [placeHolder]="'email@email.com'"
    >
    </app-input>
    <app-button [disabled]="!form.valid" (clicked)="saveProfile()"
      >Sauvegarder</app-button
    >
  </form>
  <a (click)="logout()">Se déconnecter</a>

  <hr />

  <h2>Abonnements</h2>
  <div class="grid">
    @for (theme of themes ; track $index) {
    <div class="theme">
      <h3>{{ theme.title }}</h3>
      <div class="description">Description: {{ theme.description }}</div>
      <div class="unsubscribe">
        <app-button (clicked)="unsubscribe(theme.id)">Se désabonner</app-button>
      </div>
    </div>
    }
  </div>
</div>
