<div>
  <img class="logo" src="assets/svg/logo.svg" />

  <div class="menu">
    <app-button class="login" [routerLink]="['/login']"
      >Se connecter</app-button
    >
    <app-button class="register" [routerLink]="['/register']"
      >S'inscrire</app-button
    >
  </div>
</div>
