div
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 90vh
  img
    height: 238px
    width: 412px
  .menu
    flex-direction: row
    display: flex
    width: 600px
    height: 200px
    justify-content: space-between
@media only screen and (max-width: 600px)
  div
    justify-content: flex-start
    margin-top: 58px
    height: auto
    img
      height: 130px
      width: 225px

    .menu
      flex-direction: column
      width: 156px
      height: 116px
