.header
  width: 100%
  border-bottom: 1px solid black
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 25px
  .logoHeader
    height: 81px
    width: 140px
    cursor: pointer
  .navbar
    display: flex
    gap: 30px
    align-items: center
  .burger-menu
    display: none

.overlay 
  opacity: 0
  pointer-events: none
  height: 100vh
  width: 100%
  position: fixed
  top: 0
  right: 0
  transition: all .2s ease-in-out
  z-index: 100
  display: flex
  justify-content: flex-start
  background-color: rgba(0, 0, 0, 0.3)
  &.active
    pointer-events: all
    opacity: 1
    aside
      transform: translateX(0)
  .background 
    flex: 1
  aside
    background-color: white
    height: 100%
    width: 175px
    padding-top: 70px
    transition: all .2s ease-in-out
    transition-delay: .2s
    transform: translateX(175px)
    border: 1px solid black
    .navbar
      height: calc(100% - 20px)
      width: calc(100% - 20px)
      display: flex
      flex-direction: column
      justify-content: space-between
      align-items: flex-end
      padding: 10px
      .links
        display: flex
        flex-direction: column
        align-items: flex-end
        gap: 20px

// Medium devices (tablets, 768px and up)
@media (max-width: 768px)



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
  .header
    .navbar
      display: none
    .burger-menu
      display: block
