<div class="header">
  <img
    class="logoHeader"
    [routerLink]="['/home']"
    src="assets/svg/logo.svg"
    alt="application's logo"
  />
  <nav class="navbar" *ngIf="isLoggedIn">
    <a class="animated" [routerLink]="['/articles']">Articles</a>
    <a class="animated" [routerLink]="['/themes']">Themes</a>
    <a [routerLink]="['/profile']"
      ><img src="assets/svg/user.svg" alt="User default avatar"
    /></a>
  </nav>

  <button (click)="toggleAside()" class="burger-menu">
    <img src="assets/svg/burger.svg" alt="burger menu" />
  </button>
</div>

<div [classList]="showAside ? 'overlay active' : 'overlay'">
  <div (click)="closeAside($event)" class="background"></div>
  <aside>
    <nav class="navbar" *ngIf="isLoggedIn">
      <div class="links">
        <a class="animated" [routerLink]="['/articles']">Articles</a>
        <a class="animated" [routerLink]="['/themes']">Themes</a>
      </div>
      <a [routerLink]="['/profile']"
        ><img src="assets/svg/user.svg" alt="User default avatar"
      /></a>
    </nav>
  </aside>
</div>
