<div class="container">
  <h2>Se connecter</h2>
  <form action="">
    <app-input
      [control]="form.controls.email"
      [inputName]="'email'"
      [label]="'E-mail ou nom d\'utilisateur'"
    ></app-input>

    <app-input
      [control]="form.controls.password"
      [type]="'password'"
      [inputName]="'password'"
      [label]="'Mot de passe'"
    ></app-input>

    <app-button (clicked)="submit()">Se connecter</app-button>
  </form>
</div>
