/* Reset button css */
button
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible
  background: transparent

a
  color: black
  text-decoration: none
  position: relative
  &.animated::after
    content: ''
    position: absolute
    width: 0
    height: 1px
    transition: all .2s ease-in-out
    background-color: #7763C5
    top: 100%
    left: 50%
  &.animated:hover::after
    width: 100%
    left: 0


/* Inter font */
@font-face 
  font-family: Inter
  src: url('assets/Font/Inter/Inter-Variable.ttf') format('truetype'),
  /* Ajoutez des autres formats de fichiers si nécessaire */
  font-weight: normal
  font-style: normal 
body
  margin: 0px
  

.color-red 
  color: red

*
  font-family: Inter
  box-sizing: border-box


.ng-select.ng-select-single .ng-select-container 
  border: 1px solid black !important
  height: 100% !important