<div class="container">
  <div class="controls">
    <app-button [routerLink]="['/new-article']"> Créer un article</app-button>
    <div
      class="sort"
      (click)="sortArticles()"
      [ngClass]="{
        ascending: ascendingSort,
        descending: ascendingSort === false
      }"
    >
      Trier par <img src="assets/svg/arrow_filter.svg" />
    </div>
  </div>

  <div class="grid">
    @for (article of sortedArticles ; track $index) {
    <div class="article" [routerLink]="['/article', article.id]">
      <h3>{{ article.title }}</h3>
      <div class="article-metadata">
        <div class="date">
          {{ article.creationDate | date : "dd/MM/yyyy HH:mm" }}
        </div>
        <div class="theme">{{ article.theme }}</div>
      </div>
      <div class="content">Content: {{ article.content }}</div>
    </div>
    }
  </div>
</div>
