.container
  max-width: 1320px
  margin: auto
  margin-top: 50px
  padding: 0 50px
  .controls
    display: flex
    align-items: center
    justify-content: space-between
    .sort
      display: flex
      align-items: center
      font-weight: bold
      cursor: pointer
      img
        margin-left: 10px
        transition: all .2s ease-in-out
        transform: rotate(270deg)
      &.ascending img
        transform: rotate(0)
      &.descending img
        transform: rotate(180deg)


  .grid
    margin-top: 25px
    display: grid
    grid-template-columns: 1fr 1fr
    column-gap: 45px
    row-gap: 20px
    .article
      background-color: #F5F5F5
      border-radius: 8px
      padding: 18px
      display: flex
      flex-direction: column
      gap: 10px
      h3
        padding: 0
        margin: 0
      .article-metadata
        display: flex
        justify-content: space-between
        align-items: center
        width: 50%
      .content
        display: -webkit-box
        -webkit-line-clamp: 5
        -webkit-box-orient: vertical
        overflow: hidden


// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
  .container
    padding: 0 8px
    .grid
      column-gap: 20px
      grid-template-columns: 1fr

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)
  .container
    .controls
      flex-direction: column
      justify-content: flex-start
      gap: 15px
    .grid
      column-gap: 20px
