<div class="article-creation">
  <div class="back-arrow" (click)="back()">
    <img src="assets/svg/arrow_back.svg" alt="back arrow" />
  </div>

  <div class="container">
    <h2>Créer un nouvel article</h2>
    <form [formGroup]="form">
      <ng-select formControlName="themes" [searchable]="true">
        @for (themes of themeList$ | async; track themes.id) {
        <ng-option [value]="themes.id">{{ themes.title }}</ng-option>
        }
      </ng-select>

      <app-input
        [control]="form.controls.title"
        [inputName]="'title'"
      ></app-input>

      <app-text-area
        [control]="form.controls.content"
        [inputName]="'content'"
      ></app-text-area>

      <app-button (clicked)="sendArticle()" [disabled]="!form.valid"
        >Créer</app-button
      >
    </form>
  </div>
</div>
