.article-creation
  position: relative
  
.back-arrow
  position: absolute
  top: 25px
  left: 25px


.container
  max-width: 1320px
  margin: 0 auto
  padding: 50px 100px
  display: flex
  flex-direction: column
  align-items: center
  form
    max-width: 250px
    display: flex
    flex-direction: column
    gap: 15px
    align-items: center
    ng-select
      min-width: 250px
      height: 50px
  

// Medium devices (tablets, 768px and up)
@media (max-width: 768px)
  .container
    padding: 0 8px
    padding-top: 50px



// Small devices (landscape phones, 576px and up)
@media (max-width: 576px)